<li class="post-item grid-item">
    <a class="post-link" href="<%- url_for(post.path) %>">
        <h3 class="post-title"><%= post.description %></h3>
        <div class="post-meta">
            <span><%= post.sec %> <%= post.title %></span>
        </div>
    </a>
</li>
